<h1> List of all actor</h1>

<table border="1">
<% @list_of_actors.each do |a_thing| %>
	<tr>
		<td><%= a_thing.name  %></td>
		<td><%= a_thing.dob  %></td>
		<td><%= a_thing.bio  %></td>
		<td>
			<a href="/actors/<%= a_thing.id %>">
			Show details
			</a>
		</td>
	</tr>
<% end %>
</table>
